.about {
  padding: 115px 0;
  background-color: #171616;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__block {
    max-width: 505px;
  }

  &__text {
    margin: 35px 0 40px;
    font-weight: 600;
    color: #b7b7b7;
    letter-spacing: 0.23em;
  }

  &__link {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 18;
    font-weight: 500;
    color: #fff;
  }

  &__link:hover {
    text-decoration: none;
  }

  &__img {
    height: 340px;
  }
}
