.block {
  width: 33.33%;
  padding: 0 10px;

  &__title {
    font-size: 30px;
    margin-bottom: 15px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }

  &__title--text-white {
    color: #fff;
  }

  &__link {
    display: inline-block;
    margin-bottom: 60px;
    letter-spacing: 0.15em;
    color: #000;
    text-transform: uppercase;
  }

  &__link:hover {
    text-decoration: none;
  }
}
