.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 50px;
  min-width: 200px;
  padding: 0 15px;

  color: #fff;
  text-decoration: none;

  font-size: 18px;
  font-weight: 500;
  background-color: #db2512;

  transition: background-color 0.3s ease;

  cursor: pointer;
  outline: 0;
  border: 0;

  &:hover {
    background-color: #b12010;
  }
}
